{
  "parserOptions": {
    "ecmaVersion": 2018
  },

  "env": {
    "es6": true
  },
  "rules": {
    "no-undef": 2
  },
  "globals": {
    "process": true,
    "module": true,
    "console": true,
    "require": true
  }
}
